*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

@font-face{
  src:url(NF/DIN\ Bold.ttf);
  font-family: fun;
}
.Intro-Sec h1{
  font-size: 50px;
  line-height: 62px;
  font-family: fun;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 9px;
  text-align: center;
}
.Intro-Sec p{
  font-family: fun;
  margin-top: 12px;
  margin-bottom: 3px;
  text-align: center;
}
.Auth-Note-Sec h1{
  font-size: 25px;
  font-family: fun;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 9px;
  text-align: center;
}
.Auth-Note-Sec p{
  font-family: fun;
  margin-top: 12px;
  margin-bottom: 3px;
  text-align: center;
}